* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(243, 248, 253);
    position: relative;
}

header {
    display: flex;

    #top-nav-header {
        display: flex;
        align-items: center;
        position: relative;
        background-color: white;
        width: 100%;
        height: auto;
        box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.25);
        z-index: 0;

        div {
            display: flex;
            margin-left: 7%;
            align-items: center;
            padding: 15px;

            img {
                width: 25px;
                height: 25px;
                margin-right: 35px;
            }

            h3 {
                color: rgba(0, 0, 0, 0.3);
            }
        }

        form {
            position: absolute;
            right: 5%;

            #sign-up-btn {
                background: none;
                padding: 10px 15px;
                border-radius: 10px;
                color: #9c89ff;
                border: 1px solid #9c89ff;
                margin-right: 5px;
            }

            #log-in-btn {
                background-color: rgb(156, 137, 255);
                padding: 10px 20px;
                border: none;
                border-radius: 10px;
                color: white;
            }
        }
    }
}

main {
    position: absolute;
    top: 0;
    display: flex;

    #left-nav-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100;
        width: 28%;
        background-color: white;
        padding: 8px;
        border-right: 2px solid rgb(243, 248, 253);
        box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.25);
        z-index: 1;

        img {
            margin: 10px 0 20px 0;
        }

        #nav-btn {
            padding: 15px;
            border-radius: 15px;
            background-color: #f3f8fd;
            /* Background color when clicked */
        }
    }

    #main-content {
        margin: 8% 0 0 5%;

        #search-to-cart-section {
            display: flex;
            align-items: center;

            .search-container {
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: white;
                padding: 5px 10px;
                width: 400px;
                border-radius: 10px;
                box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);

                input {
                    border: none;
                    background: none;
                    color: rgba(0, 0, 0, 0.6);
                    font-weight: 500;
                    font-size: 15px;
                    padding: 10px;
                    width: 350px;
                }

                input::placeholder {
                    color: rgba(0, 0, 0, 0.35);
                    font-weight: 500;
                }

                input:focus {
                    outline: none;
                    border: none;
                }

                #search-icon {
                    display: flex;
                    align-items: center;
                }
            }

            #cart-container {
                display: flex;
                margin-left: 20px;
                border-left: 1px solid rgba(156, 137, 255, 0.5);

                #cart-btn {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-left: 20px;
                    padding: 12px;
                    width: 80px;
                    background-color: rgb(156, 137, 255);
                    border-radius: 10px;
                    text-decoration: none;

                    img {
                        width: 18px;
                        height: 18px;
                    }

                    p {
                        color: rgba(225, 225, 225, 0.9);
                        margin-left: 10px;
                        font-size: 15px;
                    }
                }
            }

        }

        #meals-container {
            margin-top: 40px;
            display: flex;

            #category-section {

                h4 {
                    color: rgba(0, 0, 0, 0.35);
                }

                nav {
                    margin-top: 15px;

                    ul {

                        li {
                            list-style: none;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            width: 90px;
                            height: 90px;
                            position: relative;
                            background-color: white;
                            margin-bottom: 10px;
                            padding: 5px;
                            border-radius: 10px;
                            box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.1);
                            transition: transform 0.1s ease-in;
                            cursor: pointer;

                            #product-quantity {
                                position: absolute;
                                right: 3%;
                                top: 2%;
                                font-size: 10px;
                                color: #9c89ff;
                                font-weight: 750;
                                padding: 1px 3px;
                                border-radius: 50%;
                                background-color: rgba(156, 137, 255, 0.1);
                            }

                            #category-title {
                                margin-top: 10px;
                                color: rgba(0, 0, 0, 0.4);
                                font-weight: 500;
                                font-size: 14px;
                            }
                        }

                        li:hover {
                            box-shadow: 0px 5px 25px rgba(156, 137, 255, 0.8);
                            transform: scale(1.03);
                        }
                    }
                }
            }

            #display-product-section {
                margin-left: 100px;

                h4 {
                    color: rgba(0, 0, 0, 0.35);
                }

                ul {
                    display: grid;
                    grid-template-rows: repeat(3, 250px);
                    grid-template-columns: repeat(6, 200px);
                    margin-top: 15px;

                    li {
                        list-style: none;
                        border-radius: 10px;
                        background-color: white;
                        margin: 0 10px 30px 0;
                        box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.25);
                        transition: transform 0.1s ease-in;

                        a {
                            text-decoration: none;
                            color: rgba(0, 0, 0, 0.3);
                            font-weight: 500;

                            img {
                                width: 100%;
                                height: 150px;
                                object-fit: cover;
                                border-radius: 10px 10px 0 0;
                            }

                            .product-description {
                                display: flex;
                                align-items: center;
                                justify-content: space-around;
                                margin-top: 10px;

                                .rating {
                                    display: flex;
                                    align-items: center;
                                    justify-content: baseline;
                                    margin-top: 5px;

                                    i {
                                        font-size: 10px;
                                    }

                                    .fa-solid {
                                        color: gold;
                                    }

                                    p {
                                        font-size: 10px;
                                        color: rgba(0, 0, 0, 0.5);
                                        margin-left: 5px;
                                    }
                                }

                                .product-price {
                                    color: #9c89ff;
                                    background-color: rgba(156, 137, 255, 0.1);
                                    padding: 1px 10px;
                                    border-radius: 10px;
                                    font-size: 14px;
                                }
                            }
                        }
                    }

                    li:hover {
                        box-shadow: 0px 5px 25px rgba(156, 137, 255, 0.8);
                        transform: scale(1.03);
                    }

                }


            }
        }


    }

}

.described {
    display: none;
}